<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul class="menu">
				<li class="border-right" id="border-left">
					<a href="/edit_header">Edit Header</a>
                </li>
				<li class="border-right">
					<a href="/add">Add Page</a>
				</li>
				<li class="border-right">
					<a href="/login">View Pages</a>
				</li>
			</ul>
		</nav>
    </header>