<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Node CMS</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/logo1.jpg"/>
	
	<link rel="stylesheet" href="/css/about.css">
</head>

<body>

    <header>
        <img src="images/nodejs.png" alt="node hs image"  >
        <h2>Welcome to CMS Blog</h2>
      <h3>It's all about CMS!</h3>
      </header>
      <nav id="nav_menu_2">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</nav>
<main>
        <aside>
            <nav id="nav_menu_1">
                    <ul>
                            
                            <li><a href="/login">Admin</a></li>
                            <li><a href="/add">Add Page</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="/logout">Log out</a></li>
                     </ul>
            </nav>
       
        </aside>
        <section>
           
            <h1>Dhara Narola</h1>
            <p> I am an enthusiastic programmer who likes to learn all most everything in IT world.
                
            </p>
            
        </section>
        <aside class="asideRight">
         
          <img src="images/me.png">
      </aside>
      </main>
<%- include('_layout/footer') -%>