<%- include('layouts/admin_header') -%>
    <main>
        <section>
            <div id="page">
                <h1>Congratulations!</h1>
                <h1>Your Page Added Successfully!</h1>
            </div>
        </section>
    </main>
