<%- include('layouts/admin_header') -%>
    <main>
        <section>
            <div id="page">
                <h1>Page Deleted Successfully.</h1>
                <h2><a href="/" >Back To Home</a></h2>
            </div>
        </section>
    </main>
