<%- include('layouts/admin_header') -%>
    <main>
        <section>
            <div id="page">
                <br>
                <br>
                <h1>Congratulations!</h1>
                <h1>Page Edited Successfully.</h1>
            </div>
        </section>
    </main>
