<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Node CMS</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/logo1.jpg"/>
	
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        <img src="images/icon.png" alt="node hs image"  >
        <h2>Node CMS</h2>
      <h3>It's all about CMS!</h3>
      </header>
      <nav id="nav_menu_2">
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</nav>

<main>
        <section>
            <h1> You are successfully logged out.</h1>
           <h2><a href="login">Login Again!</a></h2> 
        </section>
    </main>

<%- include('_layout/footer') -%>
    
