<%- include('_layout/header') -%>
  <main>

		<%- include('_layout/nav') -%>
		<%- include('_layout/left') -%>
		<section>
	<h1>This page is for Product List</h1>
	<h2>Page Under Construction</h2>
</section>
  </main>

  <%- include('_layout/footer') -%>